<tr class="transaction" data-id="{{_id}}">
    <td class="date" data-value="{{date}}">{{printDate date}}</td>
    <td class="description" data-value="{{description}}">{{description}}</td>
    <td class="amount" data-value="{{amount}}">{{printMoney amount}}</td>
    <td class="category" data-value="{{category}}">{{category}}</td>
    <td><a class="edit-transaction" href="#">Edit</a> <a class="delete-transaction" title="Delete" href="#">Delete</a></td>
</tr>
