<tr class="transaction" data-id="{{_id}}">
    <td class="date">{{printDate date}}</td>
    <td class="description">{{description}}</td>
    <td class="amount" data-amount="{{amount}}">{{printMoney amount}}</td>
    <td class="category">{{category}}</td>
    <td><a class="edit-transaction">Edit</a> <a class="delete-transaction" title="Delete" href="#">Delete</a></td>
</tr>
