<tr class="transaction" data-id="{{_id}}">
    <td>{{printDate date}}</td>
    <td>{{description}}</td>
    <td>{{printMoney amount}}</td>
    <td>{{category}}</td>
    <td><a class="delete-transaction" title="Delete" href="#">x</a></td>
</tr>
